<div class="container__big-card">
   <div class="big-card_photo">
      <img src="./src/img/beach.jpg" 
         alt=""
         height="300px"
         width="100%"
      >
   </div>
   
   <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
   </div>
   <div class="big-card_description">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nobis aperiam architecto nostrum nihil voluptatibus in magnam eum dolores vero error eveniet, aspernatur minima.</p>
   </div>
</div>