.container__title__menu  {
   color: white;
}
.container__title__menu > h1{
   margin-top: 15px;
   margin-bottom: 15px;
   font-size: 135px;
   font-family: 'Segoe UI';
   display: flex;
   justify-content: center;
}
.container__title__menu > hr{
   margin-top: 10px;
   margin-bottom: 10px;
}