<div class="container__small-card">
   <div class="container__small-card-content">
      <div class="small-card__photo">
         <img 
            src="https://raw.githubusercontent.com/BoyFlash/Angular-Blog/main/src/img/cat.jpg" 
            alt=""
            srcset=""
            >
      </div>
      <div class="card-information">
         <div class="data-publishing">
            <span >October 01, 2023</span>
         </div> 
         <div class="small-card__title">
            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, sequi!</a>
         </div>
      </div>
   </div>
   <div class="separation-line">
      <hr>
   </div>
</div>
   
